langchain
langchain-community
langchain-core
langchain-groq
langchain-google-genai
langgraph
crawl4ai
sentence-transformers
pymupdf
playwright
lxml
beautifulsoup4
pydantic
pydantic[email]
ipykernel
python-dotenv
jinja2
fastapi "uvicorn[standard]"
python-multipart
sse-starlette